.title{
    color:bisque;
    text-align: center;
    font-size:300%;
}
.center{
    text-align: center;
}
.statusLine{
    text-align: center;
    margin: 0 auto;
    border: 2px solid gray;
    width: 400px;
}