.deleteBtn {
    color:red;
    background-color: white;
}
.title{
    color:bisque;
    text-align: center;
    font-size:300%;
}
.center{
    text-align: center;
}
.input{
    font-size: large;
    width:300px;
    
}
.sttsActive{
    border-color: tomato;
    background-color: white;
    outline: 0;
}
.notSttsActive{
    border-color: white;
    background-color: white;
    outline: 0;
}

.visible{
    border-color: white;
    background-color: white;
    visibility: visible;
}

.hidden{
    visibility: hidden;
}

.list{
    width:250px;
}

::placeholder{
    color:whitesmoke;
}
