.btn {
    color:red;
    background-color: white;
}
.title{
    color:bisque;
    text-align: center;
    font-size:300%;
}
.center{
    text-align: center;
}
.input{
    font-size: large;
}
.list{
}
.sttsActive{
    border-color: tomato;
    background-color: white;
    outline: 0;
}
.notSttsActive{
    background-color: white;
    outline: 0;
}
